# Python Virtual Environments
sih_venv/
venv/
env/
.venv/
ENV/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*.class
*.tmp
*.temp

# OS Artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Local Logs
*.log
